.app_wrapper_outer {
  display: flex;
  justify-content: center;
  align-items: center
}


.OnOff__btn-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 10px 0 0 10px;
}


.OnOff__btn-ON {
  width: 100px;
  height: 50px;
}


.OnOff__btn-ON.active {
  background-color: rgb(8, 133, 60);
}


.OnOff__btn-OFF {
  width: 100px;
  height: 50px;
}


.OnOff__btn-OFF.active {
  background-color: red
}

.OnOff__btn-circle {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  border-radius: 100%;
}


.OnOff__btn-circle.blue {
  background-color: rgb(8, 133, 60);
}


.OnOff__btn-circle.red {
  background-color: red
}
